.custom-input-color {
    background-color: antiquewhite !important;
}

.custom-table .ant-table-thead > tr > th {
    background-color: #c41d7f;
    color: #fff;
}

.custom-table .ant-pagination {
    justify-content: center;
}
